[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DCL"]
	path = DCL
	url = https://github.com/cran/DCL
[submodule "DOvalidation"]
	path = DOvalidation
	url = https://github.com/cran/DOvalidation
[submodule "pandemics"]
	path = pandemics
	url = https://github.com/cran/pandemics
